
.App {
  text-align: center;
}

#quote{
  font-size: 1.5rem;
  font-family: 'Marcellus', serif;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 3px;
  font-size: 2.8rem;
  color: rgb(204, 189, 52);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

button {
  border-radius: 10px;
  padding: 1%;
  border: 2px solid black;
  background-color: rgb(164, 164, 209);
  font-size: 1.3rem;
}

button:focus {
  outline: none;
}

.author{
  font-style: italic;
}
